<!DOCTYPE html>
<html lang="ja">
  <head>
    <h1 class="msr_h102">交通費履歴ページ</h1>
    <link rel='stylesheet' href='rireki.css' />
  </head>
  <body>
    <div class = "memo_btn">
    <h1>5月分交通費</h1>
    <!-- <div class="memo"> -->
    <form method="post" action="/db/edit">
      <label for="name">編集したいIDを入力</label>
      <input type="text" id="id" name="id"
              class="form-control">
      <input type ="submit" value="編集画面へ">
    </form>
    
    <!-- <div class="form-group"> -->
      <form method="post" action="/db/del">
      <label for="name">削除したいIDを入力</label>
      <input type="text" id="id" name="id"
              class="form-control">
      <input type ="submit"  value="削除画面へ">
    </form><br>
    <!-- </div> -->
    <!-- </div> -->
    </div>
    <table class="msr_table01">
        <thead>
          <tr>
            <th>履歴番号</th>
            <th>日付</th>
            <th>交通手段</th>
            <th>乗車駅</th>
            <th>降車駅</th>
            <th>運賃</th>
            <th>回数</th>
            <th>ジョブ名</th>
            <th>メモ</th>
          </tr>
        </thead>
        <% for(var i=0; i<rireki.length; i++) { %>
                <tr>
                  <td><%= rireki[i].id %></td>
                  <td><%= rireki[i].date %></td>
                  <td><%= rireki[i].syudan %></td>
                  <td><%= rireki[i].jousya %></td>
                  <td><%= rireki[i].kousya %></td>
                  <td><%= rireki[i].untin %></td>
                  <td><%= rireki[i].kaisu %></td>
                  <td><%= rireki[i].job %></td>
                  <td><%= rireki[i].memo %></td>
                </tr>
        <% } %>
    </table>
  </body>
</html>
