<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">

    <title>交通費メモ</title>

    <link rel='stylesheet' href="/memo.css">
  </head>

  <body>
    <h1>交通費メモ</h1>
    <form method="post" action="/memo/1">
        <div class="memo">
            <label>日付</label>
            <input type="date"  name="today" value= <%= data1 %>>
        </div><br>

        <div class="memo_shudan">
            交通手段
            <select name="memo_shudan_1" value=<%= data2 %> >
              <option value="">選択してください</option>
              <option value="train"name="syudan">電車</option>
              <option value="bus"name="syudan">バス</option>
              <option value="taxi"name="syudan">タクシー</option>
            </select>
        </div><br>

        <div class="memo">
            <label>乗車駅</label>
            <input type="text" name="boardingstation" value="<%= data3 %> ">
        </div>

        <div class="memo">
            <label>経由駅</label>
            <input type="text"name="viastation" value=<%= data8 %>>
        </div>

        <div class="memo">
            <label>降車駅</label>
            <input type="text" name="getoffstation" value="<%= data4 %> ">
        </div>
        
        <div class="memo">
            <label>運賃</label>
            <input type="text"name="untin" value="<%= data %>" >円 
        </div>
        
        <div class="memo">
            <label>回数</label>
            <input type="text" name="number" value=<%= data5 %> >回
        </div><br>

        <div class="memo">
            <label>ジョブ名</label>
            <input type="text"name="job" value=<%= data6%>>
        </div><br>

         <div class="memo">
            <label>メモ</label>
            <input type="text"name="koutuuhimemo" value=<%= data7%>>
        </div><br>

        <p class="memo_btn">
            <input type="submit" value="登録" id="btn">　
        </p>

        <button type=“button” class="top_btn" onclick="location.href='/top'">トップページへ</button>

        <p class="memo_btn">
            <a href="top">トップへ</a>
          </p>

          <!-- onclick="MoveCheck() -->




        


        
    </form>
       
   <script>
      const btn = document.getElementById('btn');
    btn.addEventListener('click',function(){
       alert('正常に登録されました。');
   });

    // function MoveCheck(){
    //     if(confirm("正常に登録されました。登録した内容を一覧で確認しますか？")){
    //         window.location.href = "http://localhost:3000/db";
    //     }
        
    // }
    </script>
    <footer>
       
        </footer>
  </body>

</html>

