<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>削除ページ</title>
    <link rel='stylesheet' href="/memo.css">
</head>
<body>
    <header><h1 class = "msr_h103" >削除ページ</h1>

  <form method="post" action="/db/del/1">
      <div class="memo">
        <p class="h5">Delete　ID = <%= id %></p>
        <input type = "hidden" name = "id" value="<%= id %>">
      </div><br>

      <div class="memo">
          <label>日付</label>
          <input type="date" id="time" name="date" value=" <%= date %>"> 
      </div><br>

      <div class="memo_shudan">
          <label>交通手段</label>
          <input type="text" name="syudan" value="<%= syudan %>">
      </select>
      </div>
      
      <br>

      <div class="memo">
          <label>乗車駅</label>
          <input type="text" name="boardingstation" value=" <%= boardingstation %>">
      </div>

      <div class="memo">
          <label>経由駅</label>
          <input type="text" name="viastation" value=" <%= viastation %>">
      </div>

      <div class="memo">
          <label>降車駅</label>
          <input type="text" name="getoffstation" value=" <%= getoffstation %>">
      </div>
      
      <p class="memo_btn">
          <input type="submit" value="検索">
      </p><br>

      <div class="memo">
          <label>運賃</label>
          <input type="text"　name="untin" value=" <%= untin %>">円 
      </div> 
      
<<<<<<< HEAD
      <div class="memo">
          <label>回数</label>
          <input type="text" name="kaisu" value="<%= kaisu %>">回
=======
      <!-- <div class="memo">
          <label>回数< kaisu %></label>
          <input type="hidden" name="kaisu">回
>>>>>>> 690323719d578a9fdae0f783a03856d8f67476a4
      </div><br>
 -->
      <div class="memo">
          <label>ジョブ名</label>
          <input type="text" name="job" value="<%= job %>">
      </div><br>

       <div class="memo">
          <label>メモ</label>
          <input type="text" name="memo" value="<%= memo %>">
      </div><br>

      <div class="form-group">
        <input type ="submit" class ="btn-primary" value="削除">
        </div>

  </form>
     
  <footer>
      <p>© All rights reserved by SKYLIGHT.</p>
  </footer>
  </header>
</body>

</html>

