<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>削除ページ</title>
</head>
<body>
    <header><h1 class = "msr_h103" >削除ページ</h1>

  <form method="post" action="/db/del/1">
      <div class="memo">
        <p class="h5">Delete　ID = <%= id %></p>
        <input type = "hidden" name = "id" value="<%= id %>">
      </div><br>

      <div class="memo">
          <label>日付 <%= date %></label>
          <input type="hidden" id="time" name="date"> 
      </div><br>

      <div class="memo_shudan">
          <label>交通手段<%= syudan %></label>
          <input type="hidden" name="syudan">
      </select>
      </div>
      
      <br>

      <div class="memo">
          <label>乗車駅 <%= boardingstation %></label>
          <input type="hidden" name="boardingstation">
      </div>

      <div class="memo">
          <label>経由駅 <%= viastation %></label>
          <input type="hidden" name="viastation">
      </div>

      <div class="memo">
          <label>降車駅 <%= getoffstation %></label>
          <input type="hidden" name="getoffstation">
      </div>
      
      <p class="memo_btn">
          <input type="submit" value="検索">
      </p><br>

      <div class="memo">
          <label>運賃 <%= untin %></label>
          <input type="hidden"　name="untin" >円 
      </div> 
      
      <div class="memo">
          <label>回数<%= kaisu %></label>
          <input type="hidden" name="kaisu">回
      </div><br>

      <div class="memo">
          <label>ジョブ名<%= job %></label>
          <input type="hidden" name="job">
      </div><br>

       <div class="memo">
          <label>メモ<%= memo %></label>
          <input type="hidden" name="memo">
      </div><br>

      <div class="form-group">
        <input type ="submit" class ="btn-primary" value="削除">
        </div>

  </form>
     
<!--  <script type="text/javascript">
  //今日の日時を表示
  window.onload = function () {
      //今日の日時を表示
      var date = new Date();

      var yyyy = date.getFullYear();
      var mm = ("0"+(date.getMonth()+1)).slice(-2);
      var nn = ("0"+(date.getMonth()+2)).slice(-2);
      var dd = ("0"+date.getDate()).slice(-2);
      
      document.getElementById("time").value = yyyy + '-' + mm + '-' + dd;
  }

  const btn = document.getElementById('btn');
  btn.addEventListener('click',function(){
      alert('正常に登録されました。');
  });
</script> -->
   
  
  <footer>
      <p>© All rights reserved by SKYLIGHT.</p>
  </footer>
  </header>
</body>

</html>

